body {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.3em;
    margin: 48px;
}

.active {
    font-weight: bold;
}

.card {
    width: 200px;
    height: 350px;
    float: left;
    border: 1px #ccc solid;
    box-shadow: 12px 9px 52px 3px rgba(0,0,0,0.85);
    background: #DFEFFF;
    cursor: pointer;
    padding: 12px;
    margin: 24px;
    
    overflow-y: hidden;
}

.hidden-card {
    float: left;
    width: 40px;
    height: 60px;
    background: #f44;
    border: 1px #ccc solid;
    margin: 6px;

}

.handovr {
    clear: both;
}

#my-turn-indicator {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 2em;
  animation: blink 1s linear infinite;
  -webkit-animation: blink 1s linear infinite;
    
}

@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}